# Python virtual environment
venv/
ENV/
env/
*.pyc
__pycache__/

# FastAPI / general Python ignores
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Environment variables
.env
.env.*

# Data files
/csv/NF-UNSW-NB15-v3.csv

# Claude or other model/config directories
.claude/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
.claude/